body {
  background-image: url(https://wallpaperaccess.com/full/384578.jpg);
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
}

.menu {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title,
.site-subtitle {
  color: #E6E6E6;
  text-align: center;
}

.site-subtitle {
  font-style: italic;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}
